SECRET_KEY_BASE: ""
DEVISE_SECRET_KEY: ""

STRIPE_PUBLISHABLE_KEY: ""
STRIPE_SECRET_KEY: ""

MAPBOX_ACCESS_TOKEN: "pk.eyJ1IjoibmZlZHlhc2hldiIsImEiOiJjanMxaHMwZmQxb2JsM3luMW50amVzZWpiIn0.QHZIhVCEAUD7PPv4fsyEXA"
BLAZER_DATABASE_URL: "postgres://username1:pass1@localhost:5432/leader_development"

# Below is the list of all environment variables in production(for reference). You don't need any of it for local development:
AWS_ACCESS_KEY_ID:
AWS_BUCKET:
AWS_REGION:
AWS_SECRET_ACCESS_KEY:
BLAZER_DATABASE_URL:
BUNDLE_GITHUB__COM:
CLOUDFRONT_HOST:
DATABASE_URL:
HEROKU_APP_ID:
HEROKU_APP_NAME:
HEROKU_POSTGRESQL_AMBER_URL:
HEROKU_POSTGRESQL_BRONZE_URL:
HEROKU_RELEASE_CREATED_AT:
HEROKU_RELEASE_VERSION:
HEROKU_SLUG_COMMIT:
HEROKU_SLUG_DESCRIPTION:
INTERCOM_ACCESS_TOKEN:
INTERCOM_APP_ID:
LANG:
MALLOC_ARENA_MAX:
MAPBOX_ACCESS_TOKEN:
NODE_ENV:
PAPERTRAIL_API_TOKEN:
POSTMARK_API_TOKEN:
RACK_ENV:
RACK_TIMEOUT_SERVICE_TIMEOUT:
RAILS_ENV:
RAILS_LOG_TO_STDOUT:
RAILS_MAX_THREADS:
RAILS_SERVE_STATIC_FILES:
REDISTOGO_URL:
REDIS_PROVIDER:
ROLLBAR_ENDPOINT:
ROLLBAR_POST_CLIENT_ITEM:
ROLLBAR_POST_SERVER_ITEM:
SECRET_KEY_BASE:
SIDEKIQ_CONCURRENCY:
SLACK_SUPPORT_ROOM_WEBHOOK_URL:
STRIPE_PUBLISHABLE_KEY:
STRIPE_SECRET_KEY:
WEB_CONCURRENCY:
