div style="height: 20px"
span style="padding: 10px 24px; border: 1px solid rgba(0,0,0,0.07);	border-radius: 4px;	background-color: #24BE73;	box-shadow: inset -1px 1px 0 0 rgba(255,255,255,0);"
  = link_to title, href, style: "color: #FFFFFF;	font-size: 15px; font-weight: 500; text-decoration: none"
div style="height: 10px"
