body.profile-accountability {
  h1 {
    color: #0d0d0d;
    font-size: 31px;
    font-weight: bold;
  }

  h2 {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -.52px;
  }

  p.title {
    font-size: 23px;
    font-weight: bold;
  }
}
