@import 'settings';

.next-challenge {
  margin-bottom: 90px;
  margin-top: 75px;

  //padding-top: 30px
  //margin-bottom: 50px
  .small-centered {
    align-items: center;
    display: flex;
    height: 67px;
  }

  .leaderbit-left-column {
    margin-right: $leaderbit-left-column-margin-right;
    text-align: center;
    width: $leaderbit-left-column-width;

    svg {
      height: 88px;
      width: 94px;
    }
  }

  .text {
    p {
      color: #747474;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: bold;
      line-height: 38px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 640px) {
  .next-challenge {
    margin-bottom: 36px;
    margin-top: 36px;

    //margin-bottom: 0px
    .leaderbit-left-column {
      svg {
        height: 37px;
        width: 39px;
      }
    }

    .text {
      p {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}

.unlockable-level {
  //cursor: pointer
  //margin-top: 98px
  margin-bottom: 25px;

  .small-centered {
    align-items: end;
    display: flex;
  }

  .leaderbit-left-column {
    align-items: center;
    background: #3c9fe1;
    display: flex;
    height: 94px;
    justify-content: center;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 22%;

    svg {
      height: 50px;
      width: 27px;
    }
  }

  .text {
    background: #38adfb;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 94px;
    justify-content: center;

    header {
      font-family: Montserrat;
      font-size: 32px;
      font-weight: bold;
      margin: 0;
      padding: 0 auto;
    }

    p {
      font-weight: bold;
      margin: 0;
      padding: 0 auto;
    }
  }
}

@media screen and (max-width: 640px) {
  .unlockable-level {
    margin-bottom: 0;

    .text {
      header {
        font-size: 20px;
      }
    }
  }
}

$all-challenges-base-color: #50e3c2;
$strength-levels-base-color: #38adfb;
$community-base-color: #fe5b5b;
$analytics-base-color: #a738fb;

.all-challenges {
  .leaderbit-left-column {
    background: darken($all-challenges-base-color, 10%);
  }

  .text {
    background: $all-challenges-base-color;
  }
}

.strength-levels {
  .leaderbit-left-column {
    background: darken($strength-levels-base-color, 10%);
  }

  .text {
    background: $strength-levels-base-color;
  }
}

.community {
  .leaderbit-left-column {
    background: darken($community-base-color, 10%);
  }

  .text {
    background: $community-base-color;
  }
}

.analytics {
  .leaderbit-left-column {
    background: darken($analytics-base-color, 10%);
  }

  .text {
    background: $analytics-base-color;
  }
}

#progress-bar {
  //margin-bottom: 46px
  margin-top: 0;

  .progress {
    background: #d8d8d8;
    height: 67px;
    padding: 0;

    .progress-meter {
      background: #42e30b;
    }
  }

  .leaderbit-left-column {
    background: #5f5b5b;
    height: 67px;
    margin-right: $leaderbit-left-column-margin-right;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: $leaderbit-left-column-width;

    .digits {
      position: relative;
      top: 8px;
    }

    .current-level {
      color: #fff;
      font-family: $body-font-family;
      font-size: 30px;
      margin-right: 5px;
      text-align: center;
    }

    .total-levels {
      color: #fff;
      font-family: $body-font-family;
      font-size: 12px;
      letter-spacing: 3px;
      text-align: left;
    }

    .footer {
      background: #1e1d1d;
      color: #fff;
      font-family: $body-font-family;
      font-size: 12px;
      margin-top: 3px;
      text-align: center;
    }
  }

  .footer-text {
    color: #8e8585;
    font-family: $body-font-family;
    font-size: 18px;
    margin-top: 7px;
  }
}

@media screen and (max-width: 640px) {
  #progress-bar {
    //margin-bottom: 23px

    .footer-text {
      font-size: 10px;
    }
  }
}
