p= "#{@recipient_name},"

p #{@user.first_name} is trying to hide from you. The accountability in the leadership program is setup so we'll tell you when #{@user.first_name} is slacking off.

p This email is being sent because #{@user.first_name} is removing you from these accountability notifications.

p Please discuss with #{@user.first_name} highlighting how important it is to improve as a leader. Consistency is key, please encourage #{@user.first_name} to invest 10 minutes per week in order to grow as a leader.

= leaderbot_footer_message

